@font-face {
    font-family: "Grotesk";
    src: url("fonts/Graphik-300.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Grotesk";
    src: url("fonts/Graphik-400.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Grotesk";
    src: url("fonts/Graphik-500.woff") format("woff");
    font-weight: 500;
}

$font-stack: Grotesk, sans-serif;

$color-primary-blue: #003097;
$color-secondary-blue: #EFF2F7;
$color-orange: #D39101;
$color-green: #058C78;
$color-red: #DC3367;
$color-black: #000000;
$color-white: #FFFFFF;

html {
    background-color: $color-secondary-blue;
    font-family: $font-stack;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.top-nav {
    padding: 32px;
    background-color: $color-primary-blue;
    padding: 50px;
}

section {
    padding: 100px;
}

h1 {
    font: {
        family: $font-stack;
        weight: 300;
        size: 64px;
    }
    color: $color-white;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font: {
        family: $font-stack;
        weight: 300;
        size: 24px;
    }   
    color: $color-white;
}

.btn {
    font-size: 16px;
    border-radius: 4px;
    padding: 17px;
    min-width: 198px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    opacity: 0.9;
}

.btn-primary {
    color: $color-white;
    background-color: $color-red;
}

.btn-secondary {
    color: $color-primary-blue;
    background-color: $color-white;
    margin-left: 23px;
}

.container {
    max-width: 1286px;
    margin: auto;
    background-color: $color-primary-blue;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}



// ---------- BEGIN MAIN SECTION ----------

.main {
    background-color: $color-primary-blue;
    padding-top: 0;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.headline {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 2;
}

.buttons-container {
    grid-column: 1;
    grid-row: 3;
}

.main-image-container {
    grid-column: 2;
    grid-row: 1 / 4;
    margin-left: 100px;
}

.main-image {
    margin-top: 32px;
    width: 100%;
    height: auto;
}

.usedby-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.usedby-title {
    color: $color-white;
    width: 100%;
}

.usedby-logo-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.usedby-logo {
    margin-top: 20px;
}

// ---------- END MAIN SECTION ----------



// ---------- BEGIN PERKS SECTION ----------

.perks {
    background-color: $color-secondary-blue;
}

.perks-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.perks-header {
    font: {
        family: $font-stack;
        weight: 300;
        size: 54px;
    }
    color: $color-primary-blue;
    margin-bottom: 50px;
}

.perks-picture {
    grid-column: 1;
    grid-row: 1;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

.perks-list {
    color: $color-primary-blue;
    
    grid-column: 2;
    grid-row: 1;
    margin-left: 100px;

    li {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.3px;
        margin-bottom: 14px;
    }

    span {
        color: $color-black;
        margin-left: 10px;
    }
}

// ---------- END PERKS SECTION ----------



// ---------- BEGIN TESTIMONIALS SECTION ----------

.testimonials {
    background-color: $color-orange;
}

.testimonials-wrapper {
    display: grid;
    grid-gap: 230px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.testimonial {

}

.testimonial-picture {
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

.testimonial-description {
    color: $color-white;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.3px;
    margin-top: 30px;
}

.testimonial-name {
    color: $color-white;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1px;
    font-weight: 500;
    margin-top: 30px;
}

.testimonial-title {
    color: $color-white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
}


// ---------- END TESTIMONIALS SECTION ----------



// ---------- BEGIN COMPANIES SECTION ----------

.companies {
    background-color: $color-secondary-blue;
}

.companies-wrapper {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(70px, auto);
    margin-top: 20px;
    margin-bottom: 20px;
}

.companies-headline-card {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: $color-primary-blue;
    color: $color-white;
    display: flex;
    align-items: center;
    padding: 38px;
}

.company-card {
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    position: relative;
}

.company-logo {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

// ---------- END COMPANIES SECTION ----------



// ---------- BEGIN PICTURE SECTION ----------

.picture {
    background-color: $color-green;
}

.big-picture {
    width: 100%;
}

// ---------- END PICTURE SECTION ----------



// ---------- BEGIN PART 2 SECTION ----------

.author-intro {
    font: {
        family: $font-stack;
        weight: 300;
        size: 24px;
    }
    color: $color-primary-blue;
    margin-bottom: 10px;
}

.author-header {
    font-size: 54px;
    color: $color-primary-blue;
    margin-bottom: 30px;

    .author-name {
        font-weight: 500;
    }
}

.author-description {
    font-size: 23px;
    color: $color-primary-blue;
    margin-bottom: 40px;
}

.author-books {
    font-size: 20px;
    color: $color-primary-blue;
    display: none;
}

// ---------- END PART 2 SECTION ----------



// ---------- BEGIN FOOTER ----------

footer {
    background-color: $color-secondary-blue;
    padding-left: 87px;
    padding-right: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
}

.footer-copyright {
    margin-left: 25px;
}

.footer-links-wrapper {
    position: absolute;
    right: 18px;
}

.footer-links {
    display: contents;
    float: right;
    list-style: none;
    li {
        padding-left: 20px;
        display: inline;
    }
    a {
        color: $color-primary-blue;
        text-decoration: none;
    }
}

// ---------- END FOOTER ----------



// ---------- RESPONSIVENESS CONSIDERATIONS ----------

@media screen and (max-width: 800px) {
    section {
        padding: 32px;
    }
    .top-nav {
        padding: 32px;
    }
    .main-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-image-container {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
        display: contents;
    }
    .main-image {
        margin-bottom: 0;
    }
    h1 {
        font-size: 44px;
        line-height: 52px;
        letter-spacing: 0.115789px;
    }
    h2 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.1px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .description {
        grid-column: 1;
        grid-row: 3;
    }
    .buttons-container {
        grid-column: 1;
        grid-row: 4;
    }
    .btn {
        position: relative;
        width: -webkit-fill-available;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .usedby-title {
        margin-top: 15px;
    }
    .usedby-logo-container {
        justify-content: space-evenly;
    }
    .usedby-logo {
        max-width: 90px;
    }
    .perks-header {
        margin-top: 18px;
    }
    .perks-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .perks-picture {
        grid-column: 1;
        grid-row: 1;
    }
    .perks-list {
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }
    ol {
        padding-inline-start: 32px;
    }
    .testimonials-wrapper {
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonial {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .companies-wrapper {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        div:nth-of-type(1n+6) {
            display: none;
        }
    }
    footer {
        padding: 32px;
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(30px, auto);
    }
    .footer-logo {
        grid-column: 1;
        grid-row: 3;
        margin-top: 25px;
    }
    .footer-copyright {
        margin-left: 0;
        grid-column: 1;
        grid-row: 2;
    }
    .footer-links-wrapper {
        grid-column: 1;
        grid-row: 1;
        position: inherit;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        li {
            padding-left: 0;
        }
    }
}